*{
  background-color: black;
  font-size: 22px;
  color: seashell;
  font-family: Helvetica, serif;
  opacity: 0.9;
  text-align: center;
}

header{
  height: 69px;
  border-bottom: 1px solid seashell;
  text-decoration: none;
  display: flex;
  /*TODO: Make header fixed*/
}

header nav{
  display: flex;
  position: relative;
  left: 920px;
}

header img{
  height: 50px;
  position: relative;
  left: 10px;
}

header nav ul li{
  display: inline-flex;
  text-decoration: underline;
  padding-left: 20px;
  cursor: pointer;
}

.mission_picture {
  background-image: url("../img/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
}

.mission_text{
  opacity: revert;
  font-size: 22px;
  margin-top: 10px;
}

#tea_of_month div img{
  height: 200px;
  width: 300px;
}
