*{
  background-color: black;
  color: seashell;
  font-family: Arial,Helvetica, serif;
  opacity: 0.9;
  text-align: center;
}
body{
  margin-top: 0;
}
header{
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  text-decoration: none;
  display: flex;
  z-index: 10;
  opacity: revert;
  border-top: 50px;
}
.header_container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header_container img{
  height: 50px;
}
nav ul li{
  text-decoration: underline;
  display: inline-flex;
  padding-left: 10px;
  font-size: 22px;
  padding-right: 10px;
}

.mission_picture {
  background-image: url("../img/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.mission_text{
  opacity: revert;
  font-size: 22px;
  margin-top: 10px;
}

.mission_text h2{
  margin-bottom: 10px;
  margin-top: 10px;
}
.mission_text h4{
  margin-bottom: 10px;
}

#tea_of_month {
  font-size: 22px;
  width: 1000px;
  margin: auto;
}

.tea_list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
}

.tea_list div{
  padding-left: 30px;
}

#tea_of_month div img {
  height: 200px;
  width: 300px;
}