*{
  background-color: black;
  font-size: 22px;
  color: seashell;
  font-family: Helvetica;
  opacity: 0.9;
  text-align: center;
}

header{
  height: 69px;
  border-bottom: 1px solid seashell;
  text-decoration: none;
}

header img{
  height: 50px;
  position: relative;
  left: 10px;
}

header nav{
  display: inline-flex;
  text-decoration: underline;

}
